<h2 class="text-center">Acerca de Nosotros</h2>
<hr />
<br />

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <h3>Saul Johan Alonzo Placencia ~ 2018-6764</h3>
    <iframe
      width="1349"
      height="480"
      src="https://www.youtube.com/embed/Fh0b0iVegtU"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <br />
    <h3>Ricky Montero Terrero ~ 2019-7944</h3>
    <iframe
      width="727"
      height="409"
      src="https://www.youtube.com/embed/cYj9d_0wQJk"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <br />
    <h3>Raúl Desena Galarza ~ 2019-7612</h3>
    <iframe
      width="726"
      height="409"
      src="https://www.youtube.com/embed/EyZmbkASL78"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <br />
  </div>
</div>
