<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tablero Médico</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="people-circle" slot="start"></ion-icon>
      <ion-label>Tus Pacientes</ion-label>
      <ion-button
        routerLink="/patients"
        fill="outline"
        color="primary"
        slot="end"
        >Ir</ion-button
      >
    </ion-item>
    <ion-card-content>
      En esta seccion podrás llevar control de todos tus pacientes,
      registrarlos, editar su informacion en caso de ser necesario, y más.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="medkit" slot="start"></ion-icon>
      <ion-label>Consultas Realizadas</ion-label>
      <ion-button
        routerLink="/consults"
        fill="outline"
        color="success"
        slot="end"
        >Ir</ion-button
      >
    </ion-item>
    <ion-card-content>
      Espacio donde podrás gestionar a gusto toda la informacion acerca de tus
      consultas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Reportes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Reportes con informacion útil acerca de tus pacientes; <br />
      3 tipos de reportes:
    </ion-card-content>
    <ion-item routerLink="/reports/date">
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>Fecha de Consulta</ion-label>
    </ion-item>

    <ion-item routerLink="/reports/zod">
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>Signo Zodiacal</ion-label>
    </ion-item>

    <ion-item routerLink="/reports/cant">
      <ion-icon name="stats-chart" slot="start"></ion-icon>
      <ion-label>Cantidad de Consultas</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
