<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-ms-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <form>
                <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
                <!-- validation msgs -->
                <div id="error" class="alert alert-danger ocultar" role="alert">
                  {{ msg }}
                </div>
                <!-- end of v.msgs -->
                <div>
                  <input
                    #email
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Correo"
                    required
                  />
                </div>
                <br />
                <div class="form-group">
                  <input
                    #pass
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Contraseña"
                    class="form-control"
                    required
                  />
                </div>
                <button
                  type="submit"
                  (click)="login(email.value, pass.value)"
                  class="btn btn-lg btn-primary btn-block"
                >
                  Iniciar Sesión
                </button>
                <br />
                <div class="form-group">
                  <a routerLink="/register">No tienes una cuenta?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
