<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-ms-6 col-md-4 mx-auto">
                <div class="g_register">
                    <div class="g">
                        <div class="gruop-body text-center">
                            <form action="">
                                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                                <div class="form-gruop">
                                    <input type="text" id="nombre" name="nombre" class="form-control" required>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>