<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-ms-6 col-md-4 mx-auto">
                <div class="card-register">
                    <div class="card">
                        <div class="group-body text-center">
                            <form action="">
                                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                                <div class="form-group">
                                    <input type="text" id="nombre" name="nombre" placeholder="Name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                                <a href="">Do you have account?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>