<section id="register">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-ms-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form>
                <h1 class="h3 mb-3 font-weight-normal">Editar Consulta</h1>

                <!-- validation msgs -->
                <div id="error" class="alert alert-danger ocultar" role="alert">
                  {{ msg }}
                </div>

                <div class="form-control">
                  <label
                    >Paciente: {{ consult["pat"]["__data__"]["name"] }}
                    {{ consult["pat"]["__data__"]["lastname"] }}
                  </label>
                </div>

                <div class="form-group">
                  <input
                    type="date"
                    #fecha
                    [value]="consult['date']"
                    class="form-control"
                    placeholder="Fecha"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    #motivo
                    [value]="consult['motive']"
                    placeholder="Motivo"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    #seguro
                    [value]="consult['n_ins']"
                    placeholder="#de seguro"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="number"
                    #monto
                    [value]="consult['p_amount']"
                    placeholder="Monto pagado"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    #diagnostico
                    [value]="consult['diag']"
                    placeholder="Diagnóstico"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    #comentario
                    [value]="consult['note']"
                    placeholder="Comentario"
                    class="form-control"
                    required
                  />
                </div>

                <div class="img">
                  <img
                    #actPhoto
                    [src]="consult['photo']"
                    class="img-fluid img-thumbnail"
                    alt="Foto actual del Paciente"
                  />
                </div>

                <div class="form-group input-group">
                  <div class="input-group">
                    <div class="custom-file">
                      <input
                        #photoInput
                        type="file"
                        class="custom-file-input"
                        id="photoInput"
                        aria-describedby="inputGroupFileAddon04"
                      />
                      <label class="custom-file-label" for="photoInput">
                        <i class="far fa-image"></i> Foto Consulta
                      </label>
                    </div>
                  </div>
                </div>

                <button
                  type="submit"
                  (click)="
                    editCons(
                      fecha.value,
                      motivo.value,
                      seguro.value,
                      monto.value,
                      diagnostico.value,
                      comentario.value,
                      actPhoto.src,
                      photoInput
                    )
                  "
                  class="btn btn-lg btn-primary btn-block"
                >
                  Guardar Consulta
                </button>
                <br />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
